:root {
  font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  font-weight: 400;

  color: #ffffff;
  background-color: #012030; /* رنگ پس‌زمینه کلی */
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #012030;
}



h1 {
  font-size: 2.8em;
  color: #DAFDBA;
  margin-bottom: 20px;
  text-align: center;
  font-weight: 600;
  letter-spacing: 1px;
}

a {
  color: #DAFDBA;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #a5d88b;
  text-decoration: underline;
}
